@{
    ViewBag.Title = "ChiTietPhim";
    Layout = "";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-Ry7Eu6WvRkjwS67Sv5Xu5z/6jnDqKC2wujv6J+mRlSffXgQk1vzlh1wUEmV3vXN6+LlZpvLSjPvZflDpBoW78w==" crossorigin="anonymous" />

</head>
<style>
    .site-header {
        background-color: #333;
        color: #fff;
        font-family: Tahoma, sans-serif;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .site-navigation {
        padding: 10px 0;
    }

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .menu li {
            display: inline-block;
        }

            .menu li a {
                display: block;
                padding: 10px 20px;
                text-decoration: none;
                color: ghostwhite;
            }

                .menu li a:hover {
                    background-color: #555;
                }

    .custom-button1,
    .custom-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }

        .custom-button1:hover,
        .custom-button:hover {
            background-color: #0056b3;
        }

        .custom-button1:active,
        .custom-button:active {
            transform: translateY(2px);
        }

    .banner {
        position: relative;
        width: 100%;
        height: 200px;
        background-color: #f0f0f0;
        overflow: hidden;
    }

    .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #333;
    }

    .carousel-item img {
        object-fit: cover;
        max-height: 500px;
        width: auto;
        margin: auto;
    }

    .container select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: #fff;
        color: #555;
        font-size: 16px;
    }

    #phim:disabled,
    #ngay:disabled,
    #xuatchieu:disabled,
    #mua-ve:disabled {
        background-color: #eee;
        cursor: not-allowed;
    }

    #mua-ve:enabled {
        background-color: #007bff;
    }

        #mua-ve:enabled:hover {
            background-color: #0056b3;
        }

    .row {
        margin-bottom: -20px;
    }

    .option-container {
        display: flex;
        align-items: center;
    }

    .small-option {
        flex: 1;
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 20px; /* Điều chỉnh khoảng cách từ phần tử trước */
    }


    .movie-section {
        margin-top: 20px; /* Điều chỉnh khoảng cách từ phần tử trước */
    }


        .movie-section h3 {
            display: inline;
            margin-left: 100px;
            font-family: Geneva;
            font-weight: bold; /* Thêm thuộc tính này để in đậm chữ */
            font-size: 60px;
        }


        .movie-section ul {
            display: inline;
            margin: 0;
            padding: 0;
            list-style: none;
            margin-bottom: 100px;
            font-size: 20px;
        }

            .movie-section ul li {
                display: inline;
                margin-left: 10px;
            }

                .movie-section ul li:first-child {
                    margin-left: 10px;
                }

    .review-movie {
        margin-top: 700px;
    }

    .movie-corner {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .movie-corner li {
            display: inline-block;
            margin-right: 20px;
        }

            .movie-corner li:last-child {
                margin-right: 0;
            }

    footer {
        background-color: #333;
        color: #fff;
        padding: 5px 0;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-md-4 {
        width: calc(100% / 3);
        padding: 0 15px;
    }

    h3 {
        font-size: 15px;
        margin-bottom: 15px;
    }

    p {
        font-size: 14px;
        line-height: 1.6;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .social-icons {
        margin-bottom: 20px;
    }

        .social-icons li {
            display: inline-block;
            margin-right: 10px;
        }

            .social-icons li:last-child {
                margin-right: 0;
            }

        .social-icons a {
            color: #fff;
            font-size: 18px;
            text-decoration: none;
        }

    .footer-menu li {
        margin-bottom: 3px;
    }

    .footer-menu a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }

        .footer-menu a:hover {
            text-decoration: underline;
        }

    .copyright {
        text-align: center;
        margin-top: 30px;
        font-size: 14px;
    }

    .review-movie {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 30px;
    }

        .review-movie h3 {
            font-size: 24px;
            color: #333;
            margin-bottom: 15px;
            display: inline-block;
            margin-right: 20px;
        }

        .review-movie ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .review-movie ul li {
                display: inline-block;
                margin-right: 20px;
                vertical-align: top;
            }

                .review-movie ul li:last-child {
                    margin-right: 0;
                }

                .review-movie ul li img {
                    border-radius: 5px;
                }

                .review-movie ul li p {
                    font-size: 16px;
                    color: #333;
                    margin-top: 10px;
                }

                .review-movie ul li img {
                    border-radius: 5px;
                    transition: transform 0.3s ease, opacity 0.3s ease;
                }

                    .review-movie ul li img:hover {
                        opacity: 0.8;
                        transform: scale(1.1);
                        cursor: pointer;
                    }

    .login-container {
        text-align: right;
        margin-top: -65px;
    }

        .login-container button {
            padding: 5px 10px;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

            .login-container button:hover {
                background-color: white;
                color: black;
            }

            .login-container button a {
                color: white;
                text-decoration: none;
            }

                .login-container button a:hover {
                    color: black;
                    text-decoration: none;
                }

    .search-container {
        display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử bên trong */
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn chỉnh các phần tử theo chiều dọc */
        background-color: #f3f3f3; /* Màu nền */
        padding: 5px; /* Khoảng cách giữa các phần tử */
        border-radius: 5px; /* Bo tròn các góc */
    }

        .search-container input[type="text"] {
            padding: 12px; /* Khoảng cách bên trong input */
            width: 600px; /* Tăng kích thước của ô tìm kiếm */
            border: none; /* Loại bỏ viền */
            border-radius: 3px; /* Bo tròn góc input */
            margin-right: 5px; /* Khoảng cách giữa input và button */
        }

        .search-container button[type="submit"] {
            padding: 8px 15px; /* Kích thước của button */
            background-color: #007bff; /* Màu nền */
            color: white; /* Màu chữ */
            border: none; /* Loại bỏ viền */
            border-radius: 3px; /* Bo tròn góc button */
            cursor: pointer; /* Con trỏ khi di chuột qua */
            transition: background-color 0.3s ease; /* Hiệu ứng màu nền khi hover */
        }

            .search-container button[type="submit"]:hover {
                background-color: #0056b3; /* Màu nền khi hover */
            }
</style>
<script>
    $(document).ready(function () {
        $('#phim').change(function () {
            if ($(this).val() !== "") {
                $('#ngay').prop('disabled', false); // Kích hoạt dropdown list ngày khi có phim được chọn
            } else {
                $('#ngay').prop('disabled', true); // Khóa dropdown list ngày khi không có phim được chọn
                $('#xuatchieu').prop('disabled', true); // Khóa dropdown list xuất chiếu khi không có phim được chọn
                $('#mua-ve').prop('disabled', true); // Khóa nút "Mua vé" khi không có phim được chọn
            }
        });

        $('#ngay').change(function () {
            if ($(this).val() !== "") {
                $('#xuatchieu').prop('disabled', false); // Kích hoạt dropdown list xuất chiếu khi có ngày được chọn
            } else {
                $('#xuatchieu').prop('disabled', true); // Khóa dropdown list xuất chiếu khi không có ngày được chọn
                $('#mua-ve').prop('disabled', true); // Khóa nút "Mua vé" khi không có ngày được chọn
            }
        });

        $('#xuatchieu').change(function () {
            if ($(this).val() !== "") {
                $('#mua-ve').prop('disabled', false); // Kích hoạt nút "Mua vé" khi có xuất chiếu được chọn
            } else {
                $('#mua-ve').prop('disabled', true); // Khóa nút "Mua vé" khi không có xuất chiếu được chọn
            }
        });
    });

</script>
<!-- Thư viện CSS Bootstrap -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Thư viện JavaScript jQuery và Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    // Sử dụng jQuery
    $(document).ready(function () {
        // Hiển thị danh sách phim đang chiếu khi trang web được tải hoàn tất
        showNowPlaying();
    });

    function showNowPlaying() {
        document.getElementById('now-playing').style.display = 'block';
        document.getElementById('coming-soon').style.display = 'none';
    }

    function showComingSoon() {
        document.getElementById('now-playing').style.display = 'none';
        document.getElementById('coming-soon').style.display = 'block';
    }
</script>

<script>
    function showButtons(image) {
        // Lấy ra phần tử cha của hình ảnh
        var parent = image.parentNode;

        // Lấy ra phần tử chứa các button
        var buttons = parent.querySelector('.buttons');

        // Hiển thị các button
        buttons.style.display = 'block';
    }
</script>

<script>
    $('#phim').change(function () {
        var selectedPhimId = $(this).val(); // Lấy ID của phim được chọn
        $.ajax({
            url: '/Home/GetNgayChieu', // Thay thế ControllerName bằng tên thực tế của controller
            type: 'GET',
            data: { phimId: selectedPhimId },
            success: function (result) {
                // Xử lý kết quả trả về
                // Update dropdown list ngày chiếu với các giá trị từ result
            }
        });
    });

</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $(document).ready(function () {
            $('#phim').change(function () {
                var selectedPhimId = $(this).val(); // Lấy ID của phim được chọn
                if (selectedPhimId !== "") {
                    $.ajax({
                        url: '/Home/GetNgayChieu', // Đường dẫn đến action GetNgayChieu trong controller Home
                        type: 'GET',
                        data: { IDPhim: selectedPhimId }, // Truyền IDPhim vào action
                        success: function (result) {
                            // Xóa tất cả các option cũ trong dropdown ngày chiếu
                            $('#ngay').empty();
                            // Thêm các option mới từ kết quả trả về
                            $.each(result, function (index, ngay) {
                                $('#ngay').append($('<option></option>').val(ngay).text(ngay));
                            });
                        }
                    });
                } else {
                    // Nếu không chọn phim, xóa tất cả các option trong dropdown ngày chiếu
                    $('#ngay').empty();
                    $('#ngay').append($('<option></option>').val('').text('Chọn ngày'));
                }
            });
        });
    })
</script>

<script>
    $(document).ready(function () {
        $('#phim').change(function () {
            console.log("Dropdown list 'Chọn phim' đã thay đổi giá trị."); // Kiểm tra xem sự kiện thay đổi có hoạt động không
            if ($(this).val() !== "") {
                $('#ngay').prop('disabled', false); // Kích hoạt dropdown list "Chọn ngày" khi có phim được chọn
            } else {
                $('#ngay').prop('disabled', true); // Khóa dropdown list "Chọn ngày" khi không có phim được chọn
                $('#xuatchieu').prop('disabled', true); // Khóa dropdown list "Chọn xuất chiếu" khi không có phim được chọn
                $('#mua-ve').prop('disabled', true); // Khóa nút "Mua vé" khi không có phim được chọn
            }
        });
    });

</script>

<header class="site-header">

    <div class="container">
        <nav class="site-navigation">
            <div class="menu">
                <ul>
                    <li><a href="https://localhost:44371/">Phim</a></li>
                    <li>
                    <li>
                        <div id="movieGenres">
                            <select id="genreDropdown">
                                <option value="">Thể loại</option>
                            </select>
                        </div>
                    </li>


                    <li><a href="#search">Tìm kiếm</a></li>
                    <li><a href="#cinema-corner">Góc điện ảnh</a></li>
                </ul>
            </div>
            <div class="login-container">

                @if (Session["TaiKhoan"] == null)
                {
                    <button><a href="@Url.Action("", "Login")">Đăng nhập</a></button>
                    <button><a href="@Url.Action("Register", "Login")">Đăng Ký</a></button>

                }
                else
                {
                    <button><a href="@Url.Action("delete", "Login")">Đăng xuất</a></button>
                    <button>@Html.ActionLink("Tài khoản", "Index", "User")</button>
                }


            </div>
        </nav>
    </div>
</header>


<body>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/god-x-kong-2048_1711942313253.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Images/mobile-suit-gundam-seed-freedom-3_1712027621954.jpg" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
                <img src="~/Images/18x2-2048_1712028163819.jpg" class="d-block w-100" alt="...">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <style>
        .site-header {
            background-color: #333; /* Màu nền */
            color: #fff; /* Màu chữ */
            font-family: Tahoma, sans-serif; /* Font chữ */
        }

        .container {
            width: 90%; /* Độ rộng của container */
            margin: 0 auto; /* Căn giữa container */
        }

        .site-navigation {
            padding: 10px 0; /* Khoảng cách đệm */
        }

        .menu {
            list-style: none; /* Ẩn chấm tròn danh sách */
            margin: 0;
            padding: 0;
        }

        .custom-button1 {
            padding: 10px 20px; /* Khoảng cách đệm bên trong nút */
            font-size: 16px; /* Kích thước chữ */
            font-weight: bold; /* Đậm */
            text-transform: uppercase; /* Chuyển đổi chữ thành chữ in hoa */
            color: #fff; /* Màu chữ */
            background-color: #007bff; /* Màu nền */
            border: none; /* Xóa viền */
            border-radius: 5px; /* Bo tròn các góc */
            cursor: pointer; /* Biểu tượng con trỏ khi di chuột qua */
            transition: background-color 0.3s, transform 0.2s; /* Hiệu ứng hover */
        }

            .custom-button1:hover {
                background-color: #0056b3; /* Màu nền khi di chuột qua */
            }

            .custom-button1:active {
                transform: translateY(2px); /* Hiệu ứng khi click */
            }


        .menu li {
            display: inline-block; /* Hiển thị các mục menu trên cùng một dòng */
        }

            .menu li a {
                display: block; /* Biến các liên kết thành các hộp có thể nhấp */
                padding: 10px 20px; /* Khoảng cách đệm */
                text-decoration: none; /* Loại bỏ gạch chân */
                color: ghostwhite; /* Màu chữ */
                transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu nền */
            }

                .menu li a:hover {
                    background-color: #555; /* Màu nền khi di chuột qua */
                }

        /* Kích thước và khoảng cách giữa các mục menu */
        .login-container {
            margin-left: 900px; /* Đẩy phần đăng nhập sang bên phải */
            margin-top: -60px;
        }

        .custom-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
        }

            .custom-button:hover {
                background-color: #0056b3;
            }

            .custom-button:active {
                transform: translateY(2px);
            }
        /* CSS đã được định nghĩa ở trên */
        .phim-container img {
            width: 500px; /* Tăng kích thước của hình ảnh lên 300px */
            height: auto; /* Đảm bảo tỉ lệ khung hình được giữ nguyên */
            margin-right: 20px; /* Khoảng cách phải giữa hình ảnh và nội dung */
            border-radius: 10px; /* Bo tròn các góc của hình ảnh */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Định dạng shadow cho hình ảnh */
            cursor: pointer; /* Biến con trỏ thành dấu tay khi hover để chỉ ra rằng hình ảnh có thể được nhấp */
            margin-left: 200px;
            margin-top: 50px;
        }

            /* Hiệu ứng khi rê chuột vào hình ảnh */
            .phim-container img:hover {
                transform: scale(1.05); /* Phóng to hình ảnh khi rê chuột vào */
                transition: transform 0.3s ease; /* Hiệu ứng mượt mà */
            }

        /* Hiệu ứng khi hiển thị chi tiết phim */
        .phim-details {
            flex-grow: 1; /* Đảm bảo phần nội dung mở rộng để chiếm hết không gian còn lại */
            display: inline-block;
            
        }
        h2 {
            margin-top: 40px; /* Điều chỉnh khoảng cách từ phần trên của thẻ h2 */
        }
        .phim-details h2 {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 50px;
            margin-bottom: 20px;
            color: darkorange;
            font-weight: bold;
            color: #007bff;
        }

            .phim-details p {
                font-size: 25px;
            }

            .phim-details p {
                border: none; /* Thiết lập border cho mỗi thẻ p */
                padding: 5px; /* Khoảng cách giữa border và nội dung bên trong */
                margin: 5px 0; /* Khoảng cách giữa các thẻ p */
                font-weight: bold; /* In đậm các thông tin */
                color: darkgray;
            }

        .lich-chieu {

            font-size: 36px; /* Thiết lập kích thước chữ cho tiêu đề "Lịch Chiếu" */
            color: black; /* Thiết lập màu chữ */
            margin-top: -100px;
            margin-bottom: 10px; /* Khoảng cách dưới cùng của tiêu đề */
            text-align: center;
            font-weight: bold;
        }


        /* CSS đã được định nghĩa ở trên */

        /* Định dạng cho tiêu đề lịch chiếu */
        .phim-container {
            display: flex;
            align-items: flex-start; /* Đặt hình ảnh ở đầu trên của phim-container */
        }

        .phim-content {
            display: flex;
        }

        .phim-details {
            margin-left: 40px; /* Khoảng cách giữa hình ảnh và phần nội dung */
        }

    </style>
<body>

        @foreach (var item in Model)
        {
            <div class="phim-container">
                <div class="phim-content">
                    <img src="~/Images/@item.TenAnh" alt="Hình ảnh" onclick="showDetails(this)" data-phimid="@item.IDPhim" />
                    <div class="phim-details">
                        <h2>@item.TenPhim</h2>
                        <p><span style="font-weight:bold; color: gray">Thể loại: </span> @item.TheLoai</p>
                        <p><span style="font-weight:bold; color: gray">Thời lượng:</span> @item.ThoiLuong phút</p>
                        <p><span style="font-weight:bold; color: gray">Diễn viên:</span> @item.DienVien</p>
                        <p><span style="font-weight: bold; color: gray">Đạo diễn:</span> @item.DaoDien</p>
                        <p style="word-wrap: break-word; overflow-wrap: break-word; white-space: pre-line;"><span style="font-weight: bold; color: gray">Nội dung:</span> @item.NoiDung</p>
                        <!-- Thêm các thông tin khác về phim ở đây -->
                    </div>
                </div>
            </div>
        }


        <h1 class="lich-chieu">LỊCH CHIẾU</h1>
        @Html.Action("LichChieu", "Home")
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Giới thiệu</h3>
                        <p>Đặt vé xem phim mọi lúc mọi nơi với website của chúng tôi. Hỗ trợ khách hàng tận tình, cam kết giá tốt nhất, trải nghiệm website thân thiện và cập nhật thông tin liên tục. Tham gia cộng đồng yêu phim của chúng tôi để chia sẻ niềm đam mê điện ảnh và nhận được nhiều ưu đãi hấp dẫn.</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Liên hệ</h3>
                        <p>
                            Địa chỉ: Thủ Dầu Một, Bình Dương<br>
                            Email: kyhienlanh@gmail.com<br>
                            Điện thoại: 0943575868
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h3>Mạng xã hội</h3>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

                        <h3>Menu website</h3>
                        <ul class="footer-menu">
                            <li><a href="/Home/Index">Trang chủ</a></li>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Sản phẩm</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="copyright">
                    &copy; 2024 - Bản quyền thuộc về HKL CINEMA
                </div>
            </div>
        </footer>

    </body>
