@model IEnumerable<Quanlyrapchieuphim.Models.ChoNgoi__SuatChieu>
@{
    Layout = null;
}

<style>
    /* CSS styles go here */
    .seat-map {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .custom-radio {
        position: relative;
        width: 40px; /* Chiều rộng của ghế */
        height: 40px; /* Chiều cao của ghế */
        margin: 5px; /* Khoảng cách giữa các ghế */
        border-radius: 50%; /* Hình dạng của ghế (hình tròn) */
        background-color: #ccc; /* Màu sắc của ghế */
        cursor: pointer;
        display: flex;
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
        transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu sắc */
        margin-top: 30px;
    }

        .custom-radio input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

            .custom-radio input:checked + .checkmark {
                display: block;
            }

    .checkmark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 10px; /* Chiều cao của dấu check */
        width: 10px; /* Chiều rộng của dấu check */
        background-color: #2196F3; /* Màu sắc của dấu check */
        border-radius: 50%; /* Hình dạng của dấu check (hình tròn) */
        display: none; /* Ẩn dấu check ban đầu */
    }

    .btn-chose {
        background-color: darkorange;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
        transition: background-color 0.3s;
        display: inline-block; /* Thay đổi từ block thành inline-block */
        margin-left: 1100px; /* Điều chỉnh khoảng cách so với các vị trí chỗ ngồi */
        margin-top: -90px; /* Thay đổi margin-top để căn giữa theo chiều dọc */
    }


        .btn-chose:hover {
            background-color: #0d5cb6;
        }

    .custom-radio p {
        margin: 0;
        font-size: 12px;
        color: #999;
    }


    .site-header {
        background-color: #333;
        color: #fff;
        font-family: Tahoma, sans-serif;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .site-navigation {
        padding: 10px 0;
    }

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .menu li {
            display: inline-block;
        }

            .menu li a {
                display: block;
                padding: 10px 20px;
                text-decoration: none;
                color: ghostwhite;
            }

                .menu li a:hover {
                    background-color: #555;
                }

    .custom-button1,
    .custom-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }

        .custom-button1:hover,
        .custom-button:hover {
            background-color: #0056b3;
        }

        .custom-button1:active,
        .custom-button:active {
            transform: translateY(2px);
        }

    .banner {
        position: relative;
        width: 100%;
        height: 200px;
        background-color: #f0f0f0;
        overflow: hidden;
    }

    .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #333;
    }

    .carousel-item img {
        object-fit: cover;
        max-height: 500px;
        width: auto;
        margin: auto;
    }

    .container select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: #fff;
        color: #555;
        font-size: 16px;
    }

    #phim:disabled,
    #ngay:disabled,
    #xuatchieu:disabled,
    #mua-ve:disabled {
        background-color: #eee;
        cursor: not-allowed;
    }

    #mua-ve:enabled {
        background-color: #007bff;
    }

        #mua-ve:enabled:hover {
            background-color: #0056b3;
        }

    .row {
        margin-bottom: -20px;
    }

    .option-container {
        display: flex;
        align-items: center;
    }

    .small-option {
        flex: 1;
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 20px; /* Điều chỉnh khoảng cách từ phần tử trước */
    }


    .movie-section {
        margin-top: 20px; /* Điều chỉnh khoảng cách từ phần tử trước */
    }


        .movie-section h3 {
            display: inline;
            margin-left: 100px;
            font-family: Geneva;
            font-weight: bold; /* Thêm thuộc tính này để in đậm chữ */
            font-size: 60px;
        }


        .movie-section ul {
            display: inline;
            margin: 0;
            padding: 0;
            list-style: none;
            margin-bottom: 100px;
            font-size: 20px;
        }

            .movie-section ul li {
                display: inline;
                margin-left: 10px;
            }

                .movie-section ul li:first-child {
                    margin-left: 10px;
                }

    .review-movie {
        margin-top: 700px;
    }

    .movie-corner {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .movie-corner li {
            display: inline-block;
            margin-right: 20px;
        }

            .movie-corner li:last-child {
                margin-right: 0;
            }

    footer {
        background-color: #333;
        color: #fff;
        padding: 5px 0;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-md-4 {
        width: calc(100% / 3);
        padding: 0 15px;
    }

    h3 {
        font-size: 15px;
        margin-bottom: 15px;
    }

    p {
        font-size: 14px;
        line-height: 1.6;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .social-icons {
        margin-bottom: 20px;
    }

        .social-icons li {
            display: inline-block;
            margin-right: 10px;
        }

            .social-icons li:last-child {
                margin-right: 0;
            }

        .social-icons a {
            color: #fff;
            font-size: 18px;
            text-decoration: none;
        }

    .footer-menu li {
        margin-bottom: 3px;
    }

    .footer-menu a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }

        .footer-menu a:hover {
            text-decoration: underline;
        }

    .copyright {
        text-align: center;
        margin-top: 30px;
        font-size: 14px;
    }

    .review-movie {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 30px;
    }

        .review-movie h3 {
            font-size: 24px;
            color: #333;
            margin-bottom: 15px;
            display: inline-block;
            margin-right: 20px;
        }

        .review-movie ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .review-movie ul li {
                display: inline-block;
                margin-right: 20px;
                vertical-align: top;
            }

                .review-movie ul li:last-child {
                    margin-right: 0;
                }

                .review-movie ul li img {
                    border-radius: 5px;
                }

                .review-movie ul li p {
                    font-size: 16px;
                    color: #333;
                    margin-top: 10px;
                }

                .review-movie ul li img {
                    border-radius: 5px;
                    transition: transform 0.3s ease, opacity 0.3s ease;
                }

                    .review-movie ul li img:hover {
                        opacity: 0.8;
                        transform: scale(1.1);
                        cursor: pointer;
                    }

    .login-container {
        text-align: right;
        margin-top: -65px;
    }

        .login-container button {
            padding: 5px 10px;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

            .login-container button:hover {
                background-color: white;
                color: black;
            }

            .login-container button a {
                color: white;
                text-decoration: none;
            }

                .login-container button a:hover {
                    color: black;
                    text-decoration: none;
                }

    .search-container {
        display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử bên trong */
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn chỉnh các phần tử theo chiều dọc */
        background-color: #f3f3f3; /* Màu nền */
        padding: 5px; /* Khoảng cách giữa các phần tử */
        border-radius: 5px; /* Bo tròn các góc */
    }

        .search-container input[type="text"] {
            padding: 12px; /* Khoảng cách bên trong input */
            width: 600px; /* Tăng kích thước của ô tìm kiếm */
            border: none; /* Loại bỏ viền */
            border-radius: 3px; /* Bo tròn góc input */
            margin-right: 5px; /* Khoảng cách giữa input và button */
        }

        .search-container button[type="submit"] {
            padding: 8px 15px; /* Kích thước của button */
            background-color: #007bff; /* Màu nền */
            color: white; /* Màu chữ */
            border: none; /* Loại bỏ viền */
            border-radius: 3px; /* Bo tròn góc button */
            cursor: pointer; /* Con trỏ khi di chuột qua */
            transition: background-color 0.3s ease; /* Hiệu ứng màu nền khi hover */
        }

            .search-container button[type="submit"]:hover {
                background-color: #0056b3; /* Màu nền khi hover */
            }
</style>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Thư viện JavaScript jQuery và Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<header class="site-header">

    <div class="container">
        <nav class="site-navigation">
            <div class="menu">
                <ul>
                    <li><a href="https://localhost:44371/">Phim</a></li>
                    <li>
                    <li>
                        <div id="movieGenres">
                            <select id="genreDropdown">
                                <option value="">Thể loại</option>
                            </select>
                        </div>
                    </li>


                    <li><a href="#search">Tìm kiếm</a></li>
                    <li><a href="#cinema-corner">Góc điện ảnh</a></li>
                </ul>
            </div>
            <div class="login-container">

                @if (Session["TaiKhoan"] == null)
                {
                    <button><a href="@Url.Action("", "Login")">Đăng nhập</a></button>
                    <button><a href="@Url.Action("Register", "Login")">Đăng Ký</a></button>

                }
                else
                {
                    <button><a href="@Url.Action("delete", "Login")">Đăng xuất</a></button>
                    <button>@Html.ActionLink("Tài khoản", "Index", "User")</button>
                }


            </div>
        </nav>
    </div>
</header>


<body>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/god-x-kong-2048_1711942313253.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Images/mobile-suit-gundam-seed-freedom-3_1712027621954.jpg" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
                <img src="~/Images/18x2-2048_1712028163819.jpg" class="d-block w-100" alt="...">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


   


    @using (Html.BeginForm("test", "Home"))
    {
        var modelList = Model.ToList(); // Convert IEnumerable to List

        for (int i = 0; i < modelList.Count(); i++)
        {
            var TenCho = i + 1;

            if (i % 10 == 0)
            {
                @:</div> <!-- Close the previous row -->
                @:<div class="seat-map">
 <!-- Open a new row -->
                }

                <label class="custom-radio">
                    @if (modelList[i].trangthai != null)
                    {
                        <input type="radio" id="place @i" name="selectedPlace" value="Unavailable" autocomplete="off" disabled />
                        <span class="checkmark"></span>
                        @TenCho <p style="color: red">Hết)</p>
                    }
                    else
                    {
                        <input type="radio" id="place @i" name="selectedPlace" value="@modelList[i].ChoNgoi_SuatChieu" autocomplete="off" />
                        <span class="checkmark"></span>
                        @TenCho
                    }
                </label>
            }
        @:</div> <!-- Close the last row -->
        <hr class="separator-line">
        <h5 class="centered-h5" style="text-align:center">Màn hình</h5>

        <!-- Horizontal line -->

        <!-- Horizontal line -->
        <!-- Horizontal line -->
        <input type="submit" class="btn-chose" value="TIẾP TỤC" style="padding-left:30px">
    }



</body>