@model IEnumerable<Quanlyrapchieuphim.Models.Ve1>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenVe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaVe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDChoNgoi_SuatChieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguoiDung.TenNguoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuatChieu.TenSuatChieu)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenVe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaVe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDChoNgoi_SuatChieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDung.TenNguoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuatChieu.TenSuatChieu)
        </td>
      
    </tr>
}

</table>
